@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --color-gunmetal: #022f40ff;
  --color-pacific-blue: #38aeccff;
  --color-blue-ncs: #0090c1ff;
  --color-gunmetal-2: #183446ff;
  --color-blue-sapphire: #046e8fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
